.header_outer_container {
  position: sticky;
  top: 0;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s ease;
}
.nav__black {
  background-color: rgb(20, 20, 20);
}
.header_container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left ul {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.header_right ul {
  width: 10vw;
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .header_left ul li:not(:first-child) {
    display: none;
  }

  .banner_description {
    box-sizing: border-box;
    font-size: 1.5em;
    display: none;
  }
  .header_right {
    margin-right: 50px;
  }
}
@media screen and (max-width: 576px) {
  .header_left ul {
    margin-left: 20px;
  }
  .header_left ul li:not(:first-child) {
    display: none;
  }
  .header_right {
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .header_left ul li {
    font-size: 0.9em;
  }
  .header_left ul {
    gap: 5px;
  }
}
